
*{
    padding: 0;
    margin: 0;
    user-select: none;
}

.navbar{
    display: flex;
    color: aliceblue;
    background-color: rgba(25, 100, 19, 0.596);
    
}

.heading{
    font-size: 30px;
    margin-top: 8px;
    font-family: cursive;
}

.icon{
    margin:5px;
}

.icon img{
    height: 40px;
}

.mode{
    margin:20px auto;
}

.mode select{
    width: 70px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

body{
    background-image: url('https://raw.githubusercontent.com/namantam1/TicTacToe/master/bg.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Game */
.gamebox{
    display: flex;
    /* justify-content: center; */
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.square{
    display: flex;
}

.box{
    border: 1px solid white;
    height: 20vw;
    width: 20vw;
    font-family: 'Indie Flower', cursive;
    font-size: 20vw;
    text-align: center;
    line-height: 15vw;
    cursor: pointer;
}

.tictactoe{
    color: aliceblue;
}

.choosedisplay{
    margin-left: 10px;
    font-family: 'Indie Flower', cursive;
    /* display: flex; */
}

.choosedisplay input{
    margin-right: 10px;
}

.choosedisplay label{
    font-size: 10vw;
}

.choosedisplay p{
    font-size: 20px;
}

.displayresult div{
    color: aliceblue;
    display: flex;
    margin: 10px;
}

.displayresult p{
    margin-left: 10px;
}

.Rbtn{
    border-radius: 2px;
    border: none;
    background-color: rgb(164, 175, 139);
    font-size: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin: 20px auto;
    display: block;
    padding: 5px;
    box-shadow: 0 5px #746f2f;
}

.Rbtn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

  
.popdisplay{
    border-radius: 5px;
    background-color: rgba(250, 235, 215, 0.952);
    color: brown;
    border: 1px solid red;
    width: 50vw;
    position: absolute;
    top: 40vw;
    left: 25vw;
    text-align: center;
    padding: 10px;
    /* display: none; */
    visibility: hidden;
    /* visibility: visible; */
}
    
.popdisplay button{
    font-size: 20px;
    width: 10vw;
    /* height: 3vw; */
    line-height:auto;
    background-color:rgb(124, 154, 155);
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    padding: 2px;
}

footer{
    background-color: rgba(102, 110, 108, 0.596);
    margin-top: 50px;
    /* display: flex; */
    justify-content: space-between;
}

.contacticon{
    display:flex;
    justify-content: space-around;
    padding: 20px 0px 15px 0;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
    opacity: .8;
 }

 a:hover{
    opacity: 1;
 }

.counter{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.counterpara{
    margin-right: 5px;
    /* text-decoration: underline; */
}

.counterimg{
    height: 20px;
    width: 70px;
    padding-top: 6px;
}
.copyright{
    padding: 5px;
    text-align: center;
}
