
*{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    color: aliceblue;
    background-color: rgba(25, 100, 19, 0.596);
    
}

.heading{
    font-size: 30px;
    margin-top: 8px;
    font-family: cursive;
}

.icon{
    margin:5px;
}

.icon img{
    height: 40px;
}

.mode{
    margin-top: 20px;
    margin-left: 30px;
}

.mode select{
    width: 70px;
    border-radius: 3px;
}

body{
    background-image: url('bg4.jpg');
    /* background-size: cover; */
}

.tictactoe{
    color: aliceblue;
    /* justify-content: center; */
}

.box{
    height: 110px;
    width: 110px;
    border: 1.5px solid rgb(224, 195, 182);
    font-family: 'Indie Flower', cursive;
    line-height: 100px;
    /* justify-content: center; */
}

.main{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 90px;
    text-align: center;
    display: inline-block;
}

.main .row{
    display: flex;
}

.winChart{
    display: inline-flex;
    border: 1px solid white;
    margin: 10px 10px 0px 10px;
    height: 25px;
    line-height: 23px;
    /* margin-top: 20px; */
    /* padding: px; */
    background-color: rgba(66, 53, 53, 0.692);
}

.winChart p{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid white;
}

.result{
    /* display: inline; */
    margin: 5px 10px 0px 10px;
    border: 1px solid white;
    text-align: center;
}

button{
    border-radius: 2px;
    border: none;
    background-color: rgb(164, 175, 139);
    font-size: 20px;
    text-align: center;
    font-family: 'Righteous', cursive;
    margin-left: 120px;
    margin-top: 10px;
}
